@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.bg {
  background-color: #E5E5E5;
}

.row1 {
  display: flex;
  flex-wrap: nowrap;
}

.copyRight {
  font-family: 'Mulish', sans-serif;
  background-color: white;
  font-weight: bold;
  opacity: 80%;
  padding-top: 5%;
  margin-bottom: 3%;
  text-align: center;
}

.orderDetails {
  background-color: white;
  margin-top: 5%;
  margin-left: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
}

.orderForm {
  background-color: white;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 10%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
}

.innerLeft {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  opacity: 80%;
  padding-top: 3%;
}

.innerRight {
  font-family: 'Mulish', sans-serif;
  font-weight: bolder;
  padding-top: 3%;
  text-align: end;
}

.orderForm2 {
  display: none;
}

.paymentRow1 {
  padding-top: 3%;
  /* padding: 2% 2% 2% 2%; */
  text-align: center;
  font-family: 'Mulish', Arial, Helvetica, sans-serif;
}

.paymentRow2 {
  padding-top: 3%;
  padding-bottom: 3%;
  /* padding: 2% 2% 2% 2%; */
  text-align: center;
  font-family: 'Mulish', Arial, Helvetica, sans-serif;
}

.divider {
  text-align: center;
  font-weight: bold;
  font-family: 'Mulish', Arial, Helvetica, sans-serif;
}

.anotherOpt {
  text-align: center;
  font-weight: bold;
  font-family: 'Mulish', Arial, Helvetica, sans-serif;
}

.anotherOpt1 {
  text-align: center;
  color: blueviolet;
  font-weight: bold;
  font-family: 'Mulish', Arial, Helvetica, sans-serif;
}

.orderDetailsX {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 5%;
  /* padding-left: 2%;
  padding-right: 2%; */
  padding-top: 2%;
  padding-bottom: 5%;
  border-radius: 20px;
}

.row3 {
  background-color: white;
}